body {
    background-color:black;
    color:gray;
}
/* the above gives it gray the below center aligns the text, multiple html elements can be selected.*/
header, main, nav, footer {
    text-align: center;
}

nav a { /*links within "nav" container, nav a makes it only for the navigation menu and not ALL links */
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    text-decoration: none;  /*removes underline*/
    color: white;           /*by default links are blue*/
    
}

nav a:hover { /*psuedo class*/
    border-bottom:2px orange solid;
    font-size: 2em;
    transition: .9; /*transition effect*/
    
}

main { /* Make text to the right of your photo instead of underneath and center it*/
    display: flex;
    justify-content: center;
}

footer { /* Change footer text size and color*/
 font-size: 10px;
 color: blue;
}

#current {
  color: gray;  /* Special color for link of home page */
}

table {
    margin: 0px auto;
}

td { /*increasing font size for more consistency*/
    padding-right: 10px;
    font-size: 1.3em;
}

td strong { /*Make header stand out with strong*/
    color: orange;
}

#table-header {
    background-color: #351a00;
}

.table-row {
    background-color: #753900;
}

ul {
    width:500px;
    margin: 0 auto;
    text-align: left;
}

.hobby {
    color: yellow;
}